<!-- custom-header.liquid -->

<header class="custom-header">
  <div class="custom-header-container">
    <div class="custom-logo">
      {% if theme.logo %}
        <a href="{{ shop.url }}" title="{{ shop.name }}">
          <img src="{{ theme.logo | img_url: '300x' }}" alt="{{ shop.name }}">
        </a>
      {% else %}
        <a href="{{ shop.url }}" title="{{ shop.name }}">{{ shop.name }}</a>
      {% endif %}
    </div>
    <div class="custom-navigation">
      {% for link in linklists.main-menu.links %}
        <a href="{{ link.url }}">{{ link.title }}</a>
      {% endfor %}
    </div>
  </div>
</header>
